dspy_ai==2.4.9
wikipedia==1.4.0
sentence-transformers
toml
langchain-text-splitters
trafilatura
langchain-huggingface
qdrant-client
langchain-qdrant
markdown
unidecode
deprecation
streamlit
streamlit-card
extra-streamlit-components
streamlit-extras
st-pages
streamlit-float
streamlit-option-menu
numpy==1.26.4
python-fasthtml>=0.10.0
python-dotenv>=1.0.1